doctype html
html(ng-app="ui8Demo")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.min.css')
    base(href="/")
  body
    block content

    script(src="/javascripts/vendor.min.js")
    script(src="/javascripts/app.min.js")
